{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My App Home Page</title>
    <link rel="stylesheet" href="{% static 'my_app/css/style.css' %}">
</head>
<body>
    <h1>{{ name | upper }}, Welcome to my app</h1>
    <p>{{ text | truncatewords:5 }}</p>
    <a href="{% url 'my_app:about' %}">Go to about Page</a>
    <ul>
        {% for num in obj %}
        <li style="background: {% cycle 'blue' 'green' 'yellow' %}">{{ num }}</li>
        {% endfor %}

        {% if is_major %}
            <p>Hello</p>
        {% endif %}

        {% if obj.0 == 1 %}
            <p>I am here</p>
        {% endif %}
    </ul>
</body>
</html>